@page
@model ProfileModel

@{
    ViewData["Title"] = "Profile";
}

<h3>Profile</h3>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-floating mb-3">
                <input type="hidden" asp-for="Email" />
                <input class="form-control" asp-for="Email" disabled="" type="text">
                <label class="form-label" asp-for="Email">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" asp-for="PhoneNumber">
                <label class="form-label" asp-for="PhoneNumber">Phone number</label>
                <span class="invalid-feedback d-block" asp-validation-for="PhoneNumber"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>